Library/**
Library/*
**/Library/**
**/Logs/**
**/Temp/**
**/UserSettings/**
**/.svn/**
Assets/Sprites/météo/p4vinst64.exe
Assets/Sprites/météo/p4vinst64.exe.meta
Assets/Sprites/météo/scoped_dir9264_58291951.meta
Assets/Sprites/météo/scoped_dir9264_58291951/p4vinst64.exe
Assets/Sprites/météo/scoped_dir9264_58291951/p4vinst64.exe.meta
